# Análise de dados dos reembolsos dos gastos realizados pelos senadores
Análise inicial de 2018
Link -> https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps

In [1]:
import pandas as pd

In [23]:
# carregar o arquivo csv
df = pd.read_csv('2018.csv', sep=';', encoding='latin1', skiprows=1,
                decimal=',')

In [24]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,02/01/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,02/01/2018,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....",274.99
2,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,SFEXYF,02/01/2018,"Companhia Aérea: LATAM, Localizador: SFEXYF. P...",1094.29
3,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,V64HTR,24/01/2018,"Companhia Aérea: AZUL, Localizador: V64HTR. Pa...",1553.99
4,2018,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/18,01/02/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00

In [25]:
# tamanhos e tipos de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24444 entries, 0 to 24443
Data columns (total 10 columns):
ANO                  24444 non-null int64
MES                  24444 non-null int64
SENADOR              24444 non-null object
TIPO_DESPESA         24444 non-null object
CNPJ_CPF             24444 non-null object
FORNECEDOR           24444 non-null object
DOCUMENTO            23455 non-null object
DATA                 24444 non-null object
DETALHAMENTO         18848 non-null object
VALOR_REEMBOLSADO    24444 non-null float64
dtypes: float64(1), int64(2), object(7)
memory usage: 1.9+ MB

In [26]:
# Análise quantitativa dos dados
df.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  24444.0  24444.000000       24444.000000
mean    2018.0      6.193585        1046.806915
std        0.0      3.306265        2721.041726
min     2018.0      1.000000           0.010000
25%     2018.0      3.000000         125.000000
50%     2018.0      6.000000         288.090000
75%     2018.0      9.000000        1036.170000
max     2018.0     12.000000      103900.000000

In [28]:
df['VALOR_REEMBOLSADO'].sum()

25588148.22

In [29]:
df['SENADOR'].value_counts()

EDUARDO LOPES                    864
PAULO BAUER                      824
WELLINGTON FAGUNDES              799
JOSÉ SERRA                       694
GLEISI HOFFMANN                  653
HUMBERTO COSTA                   648
LÍDICE DA MATA                   628
JOSÉ MEDEIROS                    594
FERNANDO BEZERRA COELHO          560
ARMANDO MONTEIRO                 550
PAULO PAIM                       547
JOÃO CAPIBERIBE                  534
ANA AMÉLIA                       495
RONALDO CAIADO                   486
JOSÉ PIMENTEL                    477
PEDRO CHAVES DOS SANTOS FILHO    440
EDUARDO AMORIM                   438
ROBERTO REQUIÃO                  436
PAULO ROCHA                      424
ROMERO JUCÁ                      415
FÁTIMA BEZERRA                   407
MARTA SUPLICY                    398
ROBERTO MUNIZ                    379
WALDEMIR MOKA                    370
AIRTON SANDOVAL                  363
CÁSSIO CUNHA LIMA                362
DALIRIO BEBER                    361
ZEZÉ PERRELLA                    360
JORGE VIANA                      356
VANESSA GRAZZIOTIN               349
                                ...
EDUARDO BRAGA                    132
OTTO ALENCAR                     132
MARIA DO CARMO ALVES             129
JOÃO ALBERTO SOUZA               125
ANTÔNIO CARLOS VALADARES         117
ACIR GURGACZ                     114
PASTOR BEL                       113
RUDSON LEITE                     111
DAVI ALCOLUMBRE                  111
HÉLIO JOSÉ                       109
JOSÉ AMAURI                      101
REDITARIO CASSOL                  87
GUARACY SILVEIRA                  79
SÉRGIO PETECÃO                    75
KÁTIA ABREU                       72
SÉRGIO DE CASTRO                  66
RODRIGUES PALMA                   62
GIVAGO TENÓRIO                    57
WALTER PINHEIRO                   51
VICENTINHO ALVES                  51
EDISON LOBÃO                      49
ELBER BATALHA                     47
TASSO JEREISSATI                  44
IONE GUIMARÃES                    44
OMAR AZIZ                         42
ALVARO DIAS                       40
FERNANDO COLLOR                   27
JADER BARBALHO                    19
CRISTOVAM BUARQUE                 16
ZÉ SANTANA                         8
Name: SENADOR, Length: 91, dtype: int64